.vscode/settings.json
plantpot/obj/Corriander.csproj.nuget.dgspec.json
plantpot/obj/Corriander.csproj.nuget.g.props
plantpot/obj/project.assets.json
plantpot/obj/project.nuget.cache
plantpot/obj/project.packagespec.json
plantpot/obj/rider.project.restore.info
plantpot/obj/Debug/net6.0/apphost.exe
plantpot/obj/Debug/net6.0/Coriander.dll
plantpot/obj/Debug/net6.0/Coriander.pdb
plantpot/obj/Debug/net6.0/Corriander.AssemblyInfo.cs
plantpot/obj/Debug/net6.0/Corriander.assets.cache
plantpot/obj/Debug/net6.0/Corriander.csproj.CoreCompileInputs.cache
plantpot/obj/Debug/net6.0/Corriander.csproj.FileListAbsolute.txt
plantpot/obj/Debug/net6.0/Corriander.GeneratedMSBuildEditorConfig.editorconfig
plantpot/obj/Debug/net6.0/Corriander.genruntimeconfig.cache
plantpot/obj/Debug/net6.0/ref/Coriander.dll
plantpot/bin/Debug/net6.0/Coriander.deps.json
plantpot/bin/Debug/net6.0/Coriander.dll
plantpot/bin/Debug/net6.0/Coriander.exe
plantpot/bin/Debug/net6.0/Coriander.pdb
plantpot/bin/Debug/net6.0/Coriander.runtimeconfig.json
plantpot/bin/Debug/net6.0/ref/Coriander.dll
